.container{
  max-width: 1120px;
  margin: 0 auto;

  padding: 0rem 2rem 2rem 2rem;
}

.loadMorePosts{
  font-size: 1.125rem;
  font-weight: 700;
  color: var(--green-500);
  background-color: transparent;
  border: none;
  cursor: pointer;
}
